{% extends "core/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Latest Games</h1>

<ul class="game-list">
    {% for game in latest_games %}
        <li>
            <a href="{% url 'game_detail' game.id %}">
                <h2>
                    {% if game.hidden %}<span class="badge badge-warning">[HIDDEN]</span> {% endif %}
                    {{ game.title }} {% if game.parent_game %}[DLC]{% endif %}
                </h2>
            </a>
            <p><strong>Genre:</strong> {{ game.genre }}</p>
            <p><strong>Developer:</strong> {{ game.developer }}</p>
            <p><strong>Average Rating:</strong> {{ game.average_rating }} / 5</p>
        </li>
    {% endfor %}
</ul>

{% if user.is_authenticated and user.role == 'admin' %}
    <a href="{% url 'create_game' %}" class="btn-create">Create New Game</a>
{% endif %}

<p><a href="{% url 'game_list' %}">View All Games</a></p>  <!-- Link to full game list -->
{% endblock %}
